:root {
   --title-font: 'Lato', sans-serif;
   --title-weight: 700;
   --title-font-size: 18px;

   --text-font: 'Roboto', sans-serif;
   --text-weight: 400;
   --text-font-size: 14px;

   --line-height: 22px;

   --bg-color: #a2c6fc;
   --white-color: #ffffff;
   --transparent: tranparent;
}

.feature-icon {
   width: 4rem;
   height: 4rem;
   border-radius: 0.75rem;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

/* Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: var(--bg-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 12px;
}

*::-webkit-scrollbar-track {
   background: var(--transparent);
}

*::-webkit-scrollbar-thumb {
   background-color: var(--bg-color);
   border-radius: 10px;
}

/* Supprime le border lors du click et du hover de Bootstrap  */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
   outline: 0px !important;
   -webkit-appearance: none;
   box-shadow: none !important;
}

/* Déplacer la position de 55px */
.z-3 {
   top: 55px;
}

.card-title:first-child {
   font-family: var(--title-font);
   font-weight: var(--text-weight);
   font-size: var(--title-font-size);
   line-height: var(--line-height);
}

.card-title p,
button {
   font-family: var(--title-font) !important;
   font-weight: var(--title-weight) !important;
   font-size: var(--title-font-size) !important;
   line-height: var(--line-height) !important;
}

p {
   font-family: var(--text-font);
   font-weight: var(--text-weight);
   font-size: var(--text-font-size);
}

.form-floating img,
#container-ustensile img,
#container-ingredients img,
#container-appareils img {
   cursor: pointer;
   right: 25px;
}

#container-ingredients {
   width: auto;
}

.bg-color {
   height: 175px;
}

.card:hover {
   cursor: pointer;
   transform: translateY(-7px);
}

.card-body {
   background-color: #E7E7E7;
   height: 100%;
}

.card-header-content {
   height: 40px;
}

.card-description {
   height: 140px;
}

.card-content p {
   width: 205px;
   display: -webkit-box;
   -webkit-line-clamp: 6;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

/* Placeholders modification Bootstrap 5 */
#input-ustensils,
#input-appliances,
#input-ingredients {
   padding: 1.4rem 1rem;
}

.rotate-img {
   top: 28px;
}

.rotate-img_event {
   transform: rotate(180deg);
}

#result-menu-ingredients,
#result-menu-appliances,
#result-menu-ustensils {
   height: 260px;
}

#result-menu-ingredients .col-md-4,
#result-menu-appliances .col-md-4,
#result-menu-ustensils .col-md-4 {
   font-family: var(--title-font);
   font-weight: var(--text-weight);
   font-size: var(--title-font-size);
   line-height: var(--line-height);
   color: var(--white-color);
   padding: 7px 10px;
   opacity: 1;
}

#result-menu-ingredients .col-md-4:first-letter,
#result-menu-appliances .col-md-4:first-letter,
#result-menu-ustensils .col-md-4:first-letter {
   text-transform: uppercase;
}

#result-menu-ingredients .col-md-4:hover,
#result-menu-appliances .col-md-4:hover,
#result-menu-ustensils .col-md-4:hover {
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0.085);
   border-radius: 4px;
}

#input-ustensils::placeholder,
#input-appliances::placeholder,
#input-ingredients::placeholder,
#input-ustensils,
#input-appliances,
#input-ingredients {
   font-family: var(--title-font);
   font-weight: var(--title-weight);
   font-size: var(--title-font-size);
   line-height: var(--line-height);
   color: var(--white-color);
   opacity: 1;
}

/* Navbar to get Github link and comparaison page */
#navigator {
   width: auto;
   background-color: #6096B4;
   border-radius: 50px;
   font-family: var(--title-font);
   font-weight: var(--title-weight);
   font-size: var(--title-font-size);
   line-height: var(--line-height);
   box-shadow:
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      100px 100px 80px rgba(0, 0, 0, 0.07);
}

#navigator a:link,
#navigator a:visited,
#navigator a:hover,
#navigator a:active {
   text-decoration: none;
}

#navigator a:hover {
   background-color: #93BFCF;
}

#navigator img {
   width: 24px;
   height: 24px;
   margin-right: 10px;
}

.active {
   background-color: #93BFCF;
   display: flex;
   justify-content: center;
   width: 200px !important;
}

#navigator a {
   color: white;
   padding: 14px 20px;
   border-radius: 50px;
   height: 100%;
   overflow-x: hidden;
}